

---
title: false
styles: true
---
$linkColour: #004aad;
$hoverColour: #b963ff;

.custom-feature-text {
    color: black; /* Replace with your desired color */
    text-align: center; /* Optional: Center-align text */
  }
 

@import "alembic";

